/*
 * fonts
 */
@font-face {
  font-family: RussiaMedium;
  src: url("../fonts/Russia/Russia-Medium.woff") format('woff');
}
@font-face {
  font-family: RussiaLight;
  src: url("../fonts/Russia/Russia-Light.woff") format('woff');
}
@font-face {
  font-family: RussiaRegular;
  src: url("../fonts/Russia/Russia-Regular.woff") format('woff');
}
@font-face {
  font-family: RussiaBold;
  src: url("../fonts/Russia/Russia-Bold.woff") format('woff');
}
@font-face {
  font-family: 'GeometriaBold';
  src: url("../fonts/Geometria/Geometria-Bold.woff") format('woff');
}
@font-face {
  font-family: 'GeometriaHeavy';
  src: url("../fonts/Geometria/Geometria-Heavy.woff") format('woff');
}
/*
 * default style
 */
body, html {
  min-width: 1200px !important;
}
body {
  overflow: visible;
}
.container {
  width: 1200px !important;
  max-width: 1200px !important;
}
.form_block div.wpcf7-response-output {
  margin: 7em 0.5em 1em;
  padding: 0.2em 1em;
  background: #fbdd88;
  z-index: 100;
  position: relative;
}
.form_block div.wpcf7-validation-errors {
  border: 3px solid #770900;
  border-radius: 5px;
  font-weight: 500;
  color: #8b0900;
}
.form_block span.wpcf7-not-valid-tip {
  color: #f00;
  font-size: 1em;
  font-weight: normal;
  display: block;
  position: absolute;
}
:focus {
  outline: 0 !important;
}
/*
 * header
 */
header {
  padding-top: 17px;
  padding-bottom: 90px;
  background: url("../img/header.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
header .header_logo_img {
  width: 270px;
  margin: 0 auto;
}
header .header_request_icon {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  position: relative;
  z-index: 1;
}
header .header_request_icon.icon i {
  font-size: 24px;
  font-weight: 900;
  display: block;
  position: relative;
  top: 3px;
  left: 2px;
  -webkit-text-stroke: 1px #fff;
  color: rgba(255,255,255,0);
}
header .header_logo_request {
  margin-top: 17px;
  margin-left: auto;
  padding-left: 52px;
}
header .header_logo_request .button {
  letter-spacing: 1.2px;
  background: none;
  color: #fff;
}
header .header_logo_request .button:hover {
  background: none !important;
  color: #fff;
}
header .header_logo_request .button:active,
header .header_logo_request .button:focus {
  color: #fff;
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
header .contact_phone {
  font-size: 20.696px;
  font-family: "RussiaRegular";
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix(1.44957390343491, 0, 0, 1.44957390343491, 0, 0);
  -webkit-transform: matrix(1.44957390343491, 0, 0, 1.44957390343491, 0, 0);
  -ms-transform: matrix(1.44957390343491, 0, 0, 1.44957390343491, 0, 0);
}
header .contact_modal {
  font-size: 12.417px;
  font-family: "RussiaLight";
  text-decoration: none !important;
  line-height: 1.2;
  -moz-transform: matrix(1.44957390343491, 0, 0, 1.44957390343491, 0, 0);
  -webkit-transform: matrix(1.44957390343491, 0, 0, 1.44957390343491, 0, 0);
  -ms-transform: matrix(1.44957390343491, 0, 0, 1.44957390343491, 0, 0);
}
header .contact_modal span {
  border-bottom: 0.1ex solid;
}
header .header_tytle {
  margin-top: 15px;
  font-size: 64px;
  font-family: "RussiaMedium";
  color: #fff;
  line-height: 0.8;
  text-align: center;
  -moz-transform: matrix(1.72009917273844, 0, 0, 1.72009917273844, 0, 0);
  -webkit-transform: matrix(1.72009917273844, 0, 0, 1.72009917273844, 0, 0);
  -ms-transform: matrix(1.72009917273844, 0, 0, 1.72009917273844, 0, 0);
}
header .header_tytle .header_tytle_span {
  font-family: "RussiaLight";
  display: block;
  font-size: 42px;
  margin-top: 9px;
}
header .header_advantages {
  margin-top: 14em;
}
header .header_advantages .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header_advantages_num {
  font-size: 60px;
  font-family: "GeometriaHeavy";
  color: #fff;
  line-height: 1.2;
  -moz-transform: matrix(1.60516261497816, 0, 0, 1.60516261497815, 0, 0);
  -webkit-transform: matrix(1.60516261497816, 0, 0, 1.60516261497815, 0, 0);
  -ms-transform: matrix(1.60516261497816, 0, 0, 1.60516261497815, 0, 0);
  -webkit-text-stroke: 2px #770900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-left: 1px;
}
.header__advantages_num {
  width: 100px;
  height: 100px;
}
.bg-num-0 {
  background: url(../img/16.png);
  width: 124px;
  height: 141px;
  position: absolute;
  left: 0;
  margin-left: -4em;
  margin-top: 8em;
}
.bg-num-1 {
  background: url(../img/17.png);
  width: 41px;
  height: 33px;
  position: absolute;
  margin-left: 4.5em;
  margin-top: 0em;
}
.bg-num-2 {
  background: url(../img/18.png);
  width: 150px;
  height: 122px;
  position: absolute;
  right: 0;
  margin-right: -2em;
  margin-top: -6em;
}
header .header_advantages_text {
  font-size: 24px;
  font-family: "RussiaMedium";
  color: #000;
  line-height: 1.2;
  margin-top: 22px;
}
/*modal_call*/
.modal_call .modal-card{
  border-width: 2px;
  border-color: rgb(252, 194, 0);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 686px;
  height: 523px;
}
.modal_call .modal-card-head {
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: none;
  padding: 12px;
}
.modal_call .modal-card-head .delete:before,
.modal_call .modal-card-head .delete:after {
  display: none;
}
.modal_call .modal-card-head .delete {
  background: none;
  color: grey;
  font-size: 37px;
  margin-left: auto;
  margin-right: 24px;
  font-family: "RussiaLight";
  padding-top: 7px;
}
.modal_call .modal-card-body p {
  font-size: 26px;
  font-family: "RussiaRegular";
  color: rgb(0, 0, 0);
  line-height: 1.538;
  margin-top: 32px;
  justify-content: center;
  display: flex;
}
.modal_call .modal-card-body p b{
  font-weight: 500;
}
.modal_call .modal-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_call_form {
  margin-top: 38px;
}
.modal_call_form .button {
  border-radius: 5px;
  background-color: rgb(119, 9, 0);
  width: 175px;
  height: 70px;
  font-size: 20px;
  font-family: "RussiaMedium";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.17619783616692,0,0,1.17741695218233,0,0);
  -webkit-transform: matrix( 1.17619783616692,0,0,1.17741695218233,0,0);
  margin-top: 34px;
}

.modal_call .modal_call_form .input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px;
  border-color: rgb(119, 9, 0);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 476px;
  height: 30px;
  font-size: 20px;
  font-family: "RussiaRegular";
  color: rgb(102, 102, 102);
  line-height: 1.5;
  text-align: left;
  box-shadow: 0 0 0 0;
  padding: 0;
  padding-bottom: 6px;
}

.modal_call .modal_call_form div.wpcf7-response-output {
  margin: 2em -0.5em 7em;
  padding: 0.2em 1em;
  position: absolute;
  bottom: 0;
  width: 500px;
}




/*form*/
.form {
  margin: 0 auto;
  margin-top: 5.5em;
}
.form .form_block {
  border: 2px dashed #fff;
  padding: 24px;
  border-radius: 5px;
  height: 165px;
  border-top: 0;
}

.box-1 {
  width: 120px;
  height: 2px;
  margin-top: -24px;
  margin-left: -24px;
  margin-bottom: 24px;
  overflow: hidden;
}
.box-2 {
  width: 120px;
  height: 2px;
  margin-top: -26px;
  overflow: hidden;
  position: absolute;
  right: 208px;
}
.line-1,.line-2 {
  border: 2px dashed #fff;
  width: 789px;
  height: 165px;
  border-radius: 3px;
}
.line-2 {
  margin-left: -669px;
}
.form .form_block .form_title {
  position: absolute;
  z-index: 1;
  margin-top: -82px;
  left: 10.6em;
  letter-spacing: 2px;
  font-size: 36px;
  font-family: "RussiaLight";
  color: #600;
  line-height: 1.2;
  -moz-transform: matrix(1.17619783616692, 0, 0, 1.17741695218233, 0, 0);
  -webkit-transform: matrix(1.17619783616692, 0, 0, 1.17741695218233, 0, 0);
  -ms-transform: matrix(1.17619783616692, 0, 0, 1.17741695218233, 0, 0);
}
.form .form_block .form_title span {
  font-size: 64px;
  font-family: "RussiaMedium";
}
.form .form_block form {
  margin-top: 43px;
}
.form .form_block form .field {
  width: 230px !important;
}
.form .form_block .control {
  display: flex;
  align-items: center;
}
.form .form_block .control .wpcf7-form-control-wrap {
  width: 232px;
}
.form .form_block input {
  height: 50px;
  padding-left: 20px !important;
  font-size: 14px;
  font-family: "RussiaRegular";
  color: #770900;
  line-height: 1.2;
  border: 0;
  width: inherit;
  border-radius: 4px;
}
.form .form_block input:focus {
  border: 0;
}
.form .form_block .form_block_text {
  width: 82px !important;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  height: 100%;
}
.form .form_block .form_block_text.none_text {
  display: none !important;
}
.form .form_block .form_block_text span {
  font-size: 14px;
  font-family: "RussiaRegular";
  color: #770900;
  line-height: 1.2;
}
.form .form_block .form_submit {
  position: absolute;
  left: 43%;
  margin-top: -14px;
}
.form .form_block .form_submit_button {
  flex-direction: column;
  font-size: 27px;
  font-family: "RussiaMedium";
  color: #770900;
  line-height: 1.2;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  width: 176px;
  height: 84px;
  border: 0;
  border-bottom: 4px solid;
  padding-top: 0;
}
.form .form_block .form_submit_button:active {
  border: 0;
}
.form .form_block span {
  font-size: 14px;
}
