/* [Comment begins]


This CSS file allows you to make styling changes to your wordpress theme, without having to change things in
the style.css file. Therefore you can safely make any changes and can always revert back to the original style
if things don't workout.

Here is how this file works....

->	This file is already linked to the present theme and just needs to be edited for making any changes to the look.

->	A class called "customstyle" is added to the present theme's body tag. This enables you to overwite the original style
	of any element by just copying its CSS rules from the original file to this file and then prefixing the particular
	rule by ".customstyle " keyword (without the quotes) and making the styling changes. (See the examples below....)

Example
~~~~~~~

Lets say you want to change the background color of the page from the present color to bright red (#ff0000)
Just locate the rules associated with the page's background (a firefox browser plugin called "firebug" is really handy for such
locating purposes and can be installed for free from www.getfirebug.com) and paste them to this file like shown below...

#page {
background:transparent url(images/page-bg.png) repeat-x;
padding-top:15px;
}

Then you can just change the change the rule to display a bright red (#ff0000) background and overwrite the original style by
prefixing the rule with ".customstyle" as shown below...

.customstyle #page {
background:#ff0000;
padding-top:15px;
}


HAVE FUN WITH CSS STYLES OF YOUR THEME....!!!!!!!


NOTE: Once you install the firebug plugin for your firefox browser, you can locate any element's style in the following way
>>  Launch firebug for a webpage by pressing F12 key
>>	Right click on any part of the webpage that you want to see the style for and choose "Inspect Element" option from the menu
>>	A panel on the righthand side dispalys the styles associated with elements along with the line numbers
>>	Firebug also allows you to change/add/remove styles in the panel to preview the effect (these changes are only temporary and revert
	back to the original style on a page refresh)
>>	Once you preview the style change (and like it) , you may edit the original file (or better copy style form original file to this file
	and add the ".customstyle " prefix)
	
	
[Comment ends]
*/
	
